<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<!-- Disabled to speed up the build -->
	<!--	<root level="warn">-->
	<!--		<appender-ref ref="stdout"/>-->
	<!--		<appender-ref ref="file"/>-->
	<!--	</root>-->

	<!--	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">-->
	<!--		<encoder>-->
	<!--			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %class{36}.%method\(\) - %msg%n</pattern>-->
	<!--		</encoder>-->
	<!--	</appender>-->
	<!--	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
	<!--		<file>logs/docker.log</file>-->
	<!--		<encoder>-->
	<!--			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %class{36}.%method\(\) - %msg%n</pattern>-->
	<!--		</encoder>-->
	<!--		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-->
	<!--			<fileNamePattern>logs/docker.%d{yyyy-MM-dd}.%i.log</fileNamePattern>-->
	<!--			<maxHistory>30</maxHistory>-->
	<!--			<maxFileSize>100MB</maxFileSize>-->
	<!--		</rollingPolicy>-->
	<!--	</appender>-->
</configuration>